<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: _siteMetaData.title }}</title>
  </head>
  <body>
    <h1>{{ _siteMetaData.title }}</h1>
    {{ content }}
  </body>
</html>
