---
layout: base-layout.liquid

permalink: 404.html
---
<header>
  <nav>
    <ul>
      <li>
        <a href="/" aria-label="Home">📚<span class="sr-only">Home</span></a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <h1>Page Not Found</h1>

  <p>
    <a href="/">Go home</a>
  </p>

  <p>
    Should there be a page here?
    <a href="mailto:scx.judge565@simplelogin.com?subject=%5BSCX%5D%20Re%3A%20404"
      >Let me know</a
    >.
  </p>
</main>
