---
layout: base.liquid

permalink: 404.html
eleventyExcludeFromCollections: true

eleventyComputed:
  scripts:
    - '404.js'
---
<header>
  {% include "headerNav.liquid" %}
</header>

<main>
  <h1>Page Not Found</h1>
  <p>
    <a href="/">Go home</a>
  </p>
  <p>
    <a href="/search">Search for something</a>
  </p>
  {% if _siteMetaData.suggestions %}
    <p>
      Should there be a page here?
      <a href="{{ _siteMetaData.suggestions }}">Report it</a>
    </p>
  {% elsif _siteMetaData.contact %}
    <p>
      Should there be a page here?
      <a
        id="let-me-know"
        href="mailto:{{ _siteMetaData.contact }}?subject=%5BSCX%5D%20Re%3A%20404"
        >Let me know</a
      >
    </p>
  {% endif %}
</main>

{% include "footer.liquid", route: "404" %}
