<footer>
  <p>{{ _siteMetaData.description }}</p>
  <ul>
    <li>
      View this page on
      <a href="https://suttacentral.net/{{ route }}">SuttaCentral.net</a>
    </li>
    <li>
      Donated to the public domain via
      <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
    </li>
    <li>
      View source on
      <a href="https://git.sr.ht/~benmneb/suttacentral-static">SH</a>
      <a href="https://codeberg.org/benmneb/suttacentral-static">CB</a>
      <a href="https://github.com/benmneb/suttacentral-static">GH</a>
    </li>
    <li>
      Suggestions? Bugs?
      <a href="mailto:scx.judge565@simplelogin.com?subject=%5BSCX%5D%20Re%3A%20{{ route | url_encode }}"
        >Email me</a
      >
    </li>
  </ul>
</footer>
