<!-- This has it's own file because it's used in text.liquid as well -->
{% unless isPatimokkha %}
  <hgroup>
    <h1>{{ title }}</h1>
    {%- if entry.acronym %}
      <p data-pagefind-weight="10">{{ entry.acronym }}</p>
    {% endif -%}
  </hgroup>

  <p data-pagefind-ignore="all">{{ entry.blurb }}</p>
{% endunless %}

<section class="texts-list" data-pagefind-ignore="all">
  {% include "translationsDetails.liquid",
    entry: entry,
    translations: translations
  %}

  {% if entry._parallels_data and entry._parallels_data.size > 0 %}
    {% include "parallelsDetails.liquid",
      entry: entry,
      parallelsOpen: parallelsOpen
    %}
  {% endif %}
</section>
