:root {
  color-scheme: light dark;

  /* Both palettes adapted from: https://github.com/YV31/gruvbox-css */
  --bg-hard: #1d2021;
  --bg: #282828;
  --bg-soft: #32302f;
  --bg-alt-1: #3c3836;
  --bg-alt-2: #504945;
  --bg-alt-3: #665c54;
  --bg-alt-4: #7c6f64;

  --fg: #fbf1c7;
  --fg-alt-1: #ebdbb2;
  --fg-alt-2: #d5c4a1;
  --fg-alt-3: #bdae93;
  --fg-alt-4: #a89984;

  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;
  --brown: #d7995b;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458588;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --gray-dim: #a89984;
  --orange-dim: #d65d0e;
  --brown-dim: #b57642;

  /* Use these: */
  --content-max-width: 600px;
  --rounding: 0.2rem;
  --width-minus-padding: calc(100% - 2rem);
  --content-double-width: calc(var(--content-max-width) * 2);
  --content-double-width-gap: calc(var(--content-max-width) * 2 + 1rem);

  --background-color: var(--bg);
  --background-color-secondary: var(--bg-soft);
  --footer-background-color: var(--bg-alt-1);
  --popover-background-color: var(--bg-alt-1);
  --text-color: var(--fg-alt-2);
  --text-color-secondary: var(--fg-alt-4);
  --headings-color: var(--fg);
  --primary-color: var(--yellow);
  --primary-color-alt: var(--yellow-dim);
  --shadow-color: var(--bg-hard);
  --tts-highlight-text-color: var(--headings-color);
  --tts-highlight-background-color: var(--bg-alt-1);
  --tts-hover-background-color: var(--bg-alt-1);
  --details-summary-hover-background: var(--bg-alt-2);
  --comments-background-color: var(--bg-hard);
  --comments-background-color: var(--bg-hard);
  --comments-border-color: var(--bg-hard);

  --sans-serif-font:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica,
    arial, sans-serif;
  --serif-font:
    Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif,
    Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-hard: #f9f5d7;
    --bg: #fbf1c7;
    --bg-soft: #f2e5bc;
    --bg-alt-1: #ebdbb2;
    --bg-alt-2: #d5c4a1;
    --bg-alt-3: #bdae93;
    --bg-alt-4: #a89984;

    --fg: #282828;
    --fg-alt-1: #3c3836;
    --fg-alt-2: #504945;
    --fg-alt-3: #665c54;
    --fg-alt-4: #7c6f64;

    --red: #9d0006;
    --green: #79740e;
    --yellow: #b57614;
    --blue: #076678;
    --purple: #8f3f71;
    --aqua: #427b58;
    --orange: #af3a03;
    --orange-alt: #7c2a03;
    --gray: #928374;
    --brown: #7c5c40;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458598;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --orange-dim: #d65d0e;
    --gray-dim: #7c6f64;
    --brown-dim: #a07448;

    --offwhite: #faf9f6;
    --offerwhite: #f8f6f2;

    /* Use these: */
    --background-color: var(--offwhite);
    --background-color-secondary: var(--bg-soft);
    --footer-background-color: var(--bg-alt-1);
    --popover-background-color: var(--offerwhite);
    --text-color: var(--fg-alt-2);
    --text-color-secondary: var(--fg-alt-4);
    --headings-color: var(--fg);
    --primary-color: var(--orange);
    --primary-color-alt: var(--orange-alt);
    --shadow-color: var(--gray-dim);
    --tts-highlight-text-color: var(--headings-color);
    --tts-highlight-background-color: var(--bg);
    --tts-hover-background-color: var(--background-color-secondary);
    --details-summary-hover-background: var(--bg-alt-1);
    --comments-background-color: var(--offerwhite);
    --comments-border-color: var(--bg-soft);
  }
}

::selection {
  color: var(--background-color);
  background-color: var(--primary-color);
}

body {
  font-family: var(--serif-font);
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  input,
  textarea,
  select,
  button {
    font-family: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--headings-color);
  }
  h1 {
    text-wrap: balance;
  }
  h6 {
    font-style: italic;
  }

  & > header {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: var(--content-max-width);
    width: var(--width-minus-padding);

    > nav {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 1rem;

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0;
        margin: 0;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }

        li {
          list-style-type: none;
          display: flex;
          word-break: keep-all;
          text-wrap: nowrap;
          white-space: nowrap;

          &:first-of-type a {
            text-decoration: none;
          }

          &::after {
            content: '/';
            margin-left: 0.5rem;
            color: var(--gray);
          }

          &:last-child::after {
            content: '';
          }
        }
      }

      button[popovertarget='search-modal'] {
        cursor: pointer;
        background: none;
        border: none;

        &:focus,
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }

  /* footer pagination nav in texts */
  > nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    gap: 1rem;
    margin: 2rem 1rem;
    width: calc(100vw - 2rem);
    max-width: calc(var(--content-max-width) * 1.2);

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-start;
      overflow-wrap: anywhere;

      &:nth-of-type(2) {
        align-items: flex-end;
        text-align: right;
      }

      span {
        font-variant-caps: petite-caps;
      }
    }
  }

  > footer {
    background-color: var(--footer-background-color);
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    color: var(--headings-color);

    p:first-of-type {
      font-weight: 800;
    }

    p:nth-of-type(2) {
      font-weight: 600;
    }

    ul {
      max-width: var(--content-max-width);
      margin: 1rem auto;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li:not(li:last-of-type) {
        margin-right: 0.5rem;

        &::after {
          content: '∙';
          margin-left: 0.5rem;
        }
      }
    }
  }
}

&:has(#commenter:checked) {
  li[role='menuitem']:has(#commenter-inline) {
    display: flex;
  }

  .segment button[popovertarget] {
    display: initial;
  }

  &:has(#commenter-inline:checked) {
    .inline-comment {
      display: block;
      height: fit-content;
      margin: 0.5rem;
      padding: 0.5rem;
      color: var(--text-color-secondary);
      background-color: var(--comments-background-color);
      border-radius: var(--rounding);
      border: 1px solid var(--comments-border-color);
    }

    .segment button[popovertarget] {
      display: none;
    }

    /* can't use `var(--content-max-width)` in media queries :'( */
    @media only screen and (min-width: 600px) {
      li[role='menuitem']:has(#commenter-side) {
        display: flex;
      }

      &:has(#commenter-side:checked) {
        main {
          max-width: var(--content-double-width-gap);
        }
        main ~ nav {
          max-width: var(--content-double-width);
        }

        .translation {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1rem;

          .inline-comment {
            margin: 0 0 0.5rem;
          }
        }

        &:has(#rooter:checked) {
          .root {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;

            .inline-comment {
              margin: 0 0 0.5rem;
            }
          }
        }

        &:has(#rooter-side:checked) {
          .segment {
            grid-template-columns: 2fr 1fr;

            .root {
              grid-template-columns: 1fr;
            }
          }

          &:has(#rooter-first:checked) {
            .segment {
              grid-template-columns: 1fr 2fr;

              .root {
                grid-template-columns: 1fr;
              }
            }
          }
        }
      }
    }
  }
}

&:has(#segmenter:checked)
  .segment:not(
    header .segment,
    h2 .segment,
    h3 .segment,
    h4 .segment,
    h5 .segment,
    h6 .segment
  )
  .reference
  > a,
&:has(#segmenter:checked) a.ref {
  display: initial;
}

&:has(#rooter:checked) .segment {
  display: grid;
  margin-bottom: 0.3rem;

  .translation {
    grid-column: 1;
  }

  .root {
    grid-column: 1;
    display: initial;
  }
}

&:has(#rooter:checked) {
  li[role='menuitem']:has(#rooter-first) {
    display: flex;
  }

  &:has(#rooter-side:checked) {
    main {
      max-width: var(--content-double-width-gap);
    }
    main ~ nav {
      max-width: var(--content-double-width);
    }
  }

  /* can't use `var(--content-max-width)` in media queries :'( */
  @media only screen and (min-width: 600px) {
    li[role='menuitem']:has(#rooter-side) {
      display: flex;
    }

    &:has(#rooter-side:checked) {
      .segment {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;

        .verse-line .translation,
        .verse-line .root {
          text-indent: 2em;
        }
        .translation {
          grid-column: 1;
        }
        .root {
          grid-column: 2;
        }
        /* br {
            content: '';
          } */
      }

      &:has(#rooter-first:checked) {
        .translation {
          grid-column: 2;
        }
        .root {
          grid-column: 1;
        }
      }

      &:has(#segmenter:checked) {
        .segment {
          grid-template-columns: 3rem 1fr 1fr;

          .reference {
            grid-column: 1;
            display: flex;
            justify-content: end;
            align-items: start;
          }
          .translation {
            grid-column: 2;
          }
          .root {
            grid-column: 3;
          }
        }
        &:has(#segmenter:checked):has(#rooter-first:checked) {
          .segment {
            .translation {
              grid-column: 3;
            }
            .root {
              grid-column: 2;
            }
          }
        }
      }
    }

    &:has(#rooter-side:checked)&:has(#rooter-first:checked) {
      .segment {
        .root {
          grid-column: 1;
        }
        .translation {
          grid-column: 2;
        }
      }

      &:has(#segmenter:checked) {
        .segment {
          .reference {
            grid-column: 1;
          }
          .root {
            grid-column: 2;
          }
          .translation {
            grid-column: 3;
          }
        }
      }
    }
  }

  &:has(#rooter-first:checked) .segment {
    .root {
      order: 1;
      grid-column: 1;
      color: unset;
    }
    .translation {
      order: 2;
      color: var(--fg-alt-4);
    }
  }
}

/* can't use `var(--content-max-width)` in media queries :'( */
@media only screen and (min-width: 600px) {
  &:has(#segmenter:checked) {
    &:has(#commenter:checked)&:has(#commenter-inline:checked) {
      &:has(#commenter-side:checked) {
        .segment {
          display: grid;
          grid-template-columns: 3rem 1fr;
          column-gap: 1rem;

          .reference {
            grid-column: 1;
            display: flex;
            justify-content: end;
            align-items: start;
          }
          .translation {
            grid-column: 2;
          }
        }

        &:has(#rooter:checked) {
          .root {
            grid-column-start: 2;
          }

          &:has(#rooter-side:checked) {
            .segment {
              grid-template-columns: 3rem 2fr 1fr;

              .root {
                grid-column: 3;
                grid-template-columns: 1fr;
              }
            }

            &:has(#rooter-first:checked) {
              .segment {
                grid-template-columns: 3rem 1fr 2fr;

                .root {
                  grid-column: 2;
                }
                .translation {
                  grid-column: 3;
                }
              }
            }
          }
        }
      }
    }
  }
}

[popover] {
  color: var(--text-color);
  border: none;
  box-shadow: 0 0.3rem 1rem var(--shadow-color);
  border-radius: var(--rounding);
  padding: 1rem;
  background-color: var(--popover-background-color);
  max-width: calc(min(320px, 100vw) - 2rem);
  max-height: 60vh;
  overflow-y: scroll;

  dl dt {
    color: var(--text-color-secondary);
  }

  .texts-list > details > summary {
    &:hover,
    &:active {
      background-color: var(--details-summary-hover-background);
    }
  }
}

[popover]#info,
[popover]#parallels {
  max-width: calc(min(60ch, 100vw) - 2rem);
  width: 100%;
}

aside {
  display: flex;
  justify-content: end;
  pointer-events: none;

  &:has(#positioner:checked) {
    position: sticky;
    top: 0.5rem;
  }

  fieldset {
    width: fit-content;
    padding: 0;
    border: none;
    margin: 0;
    background-color: var(--bg-alt-1);
    border-top-left-radius: var(--rounding);
    border-bottom-left-radius: var(--rounding);
    pointer-events: auto;

    button {
      display: flex;
      align-items: center;
      height: 100%;
      min-height: 1.5rem;
      padding: 0 0.5rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      background-color: inherit;
      color: var(--fg-alt-3);

      &:focus:not(button[disabled]),
      &:hover:not(button[disabled]) {
        background-color: var(--primary-color);
        color: var(--background-color);
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      display: flex;
    }

    li {
      display: block;
      position: relative;
      color: var(--fg-alt-3);
      border-top-left-radius: var(--rounding);
      border-bottom-left-radius: var(--rounding);

      &:first-of-type > button {
        border-top-left-radius: var(--rounding);
        border-bottom-left-radius: var(--rounding);
      }
    }

    ul li ul {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      width: max-content;
      background-color: var(--bg-alt-2);
      color: var(--text-color);
      padding-right: 0.3rem;
      border-radius: var(--rounding);
      border-top-right-radius: unset;

      li {
        width: 100%;
        display: flex;
        align-items: center;
        padding-right: 0.3rem;

        &:hover,
        &:focus-within {
          background: var(--bg-soft);
          border-radius: unset;

          &:first-of-type {
            border-top-left-radius: var(--rounding);
          }
          &:last-of-type {
            border-bottom-left-radius: var(--rounding);
            border-bottom-right-radius: var(--rounding);
          }
        }

        label {
          width: 100%;
          padding: 0 0.3rem;
        }

        input {
          margin: 0;
        }

        label,
        input {
          cursor: pointer;
        }

        &:has(#rooter-first),
        &:has(#rooter-side) {
          display: none;
        }
      }
    }

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
      display: block;
    }
  }
}

main {
  margin: auto;
  flex: 1;
  padding: 0 1rem;
  max-width: var(--content-max-width);
  width: var(--width-minus-padding);

  ul {
    padding-left: 0.75rem;

    li {
      list-style-type: upper-roman;
      margin: 0.3rem;

      ul li {
        list-style-type: disc;

        ul li {
          list-style-type: circle;
        }
      }
    }
  }

  hgroup:has(p) {
    h1,
    h2,
    h3 {
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
      color: var(--text-color-secondary);
    }
  }

  details.patimokkha-details {
    margin-top: 1rem;

    > summary {
      cursor: pointer;
      padding: 0.5rem 0.15rem 0.5rem 0.5rem;
      border-radius: var(--rounding);
      margin-left: -0.5rem;
      background-color: var(--background-color-secondary);

      &:hover,
      &:active {
        background-color: var(--bg-alt-1);
      }
    }
  }

  .texts-list {
    details {
      summary {
        cursor: pointer;
        padding: 0.5rem 0.15rem 0.5rem 0.5rem;
        border-radius: var(--rounding);
        margin-left: -0.5rem;

        &:hover,
        &:active {
          background-color: var(--details-summary-hover-background);
        }
      }

      ul {
        padding-left: 0.75rem;
        margin: 0;

        li {
          list-style-type: none;

          ul {
            padding-left: 2rem;

            li {
              list-style-type: lower-roman;
            }
          }
        }
      }

      .parallel-list-item-full {
        list-style-type: '⇆  ';
      }
      .parallel-list-item-mention {
        list-style-type: '〞';
      }
      .parallel-list-item-retelling {
        list-style-type: '↺ ';
      }
    }
  }

  hr {
    width: 30%;
    border-radius: var(--rounding);
    border: none;
    border-top: 1px solid var(--gray);
  }

  section,
  article {
    overflow-wrap: break-word;

    [lang='pli'] {
      overflow-wrap: anywhere;
    }

    button[popovertarget] {
      display: none;
      user-select: none;
      cursor: zoom-in;
      background: none;
      border: none;
      color: var(--primary-color);
      padding: 0;
      margin: 0 0.1rem 0 0;
      vertical-align: text-top;

      &:focus {
        background-color: var(--primary-color);
        color: var(--background-color);
      }
    }

    ul li {
      list-style-type: initial;
    }

    dl {
      dt {
        color: var(--text-color-secondary);
      }

      dd {
        margin-bottom: 0.5rem;
      }
    }

    .segment {
      .root {
        display: none;
        color: var(--fg-alt-4);
        /* word-break: break-all; */
      }

      .reference {
        a {
          display: none;
          border: 1px solid var(--bg-alt-2);
          border-radius: var(--rounding);
          padding: 0.2rem;
          text-decoration: none;
          color: var(--fg-alt-4);
          font-size: 0.7rem;
          font-weight: initial;

          &:hover {
            background-color: var(--bg-soft);
          }
        }
      }

      .inline-comment {
        display: none;
      }
    }

    header > ul {
      padding-left: 0;
    }

    .reference:target a,
    a.ref:target {
      background-color: var(--primary-color);
      color: var(--background-color);

      &:hover {
        color: unset;
      }
    }

    blockquote:has(.verse-line) {
      margin-left: unset;
      margin-right: unset;
    }

    /* These named classes all come through from Sutta Central.
       See: https://github.com/suttacentral/suttacentral/blob/d583b3364e9d94177343ad96cbab036f07bbba2d/client/elements/styles/sc-typography-common-styles.js#L647
    */
    header {
      text-align: center;
      margin-bottom: 4rem;

      li {
        list-style-type: none;
        letter-spacing: 0.02rem;
        /*font-variant-caps: all-small-caps; Doesn't fly with system fonts + diacritics */
        text-transform: capitalize;
        text-wrap: balance;
      }

      h1 {
        /*font-variant-caps: small-caps; Doesn't fly with system fonts + diacritics */
        text-transform: capitalize;
      }

      .sutta-title {
        word-break: break-word;
        text-wrap: balance;
      }

      .subheading {
        font-style: italic;
      }
    }
    /*bilingual sutta title*/
    .mirror {
      display: table;
      margin-right: auto;
      margin-left: auto;
    }
    .mirror > * {
      display: table-row;
    }
    .mirror-left {
      display: table-cell;
      width: 50%;
      padding-right: 1rem;
      text-align: right;
      border-right: var(--sc-border);
    }
    .mirror-right {
      display: table-cell;
      padding-left: 1rem;
      text-align: left;
    }
    .mirror-middle {
      position: absolute;
      margin-top: 0.2rem;
      text-align: right;
    }
    .text-table td:first-child {
      font-weight: inherit;
    }
    .namo {
      font-style: italic;
      text-align: center;
    }
    .roman-numerals {
      text-decoration: underline overline;
      text-transform: uppercase;
      text-decoration-thickness: 0.05em;
      text-underline-offset: 0.2em;
    }
    .speaker {
      font-style: italic;
      display: block;
      text-indent: 3em;
    }
    .pe {
      font-style: italic;
      color: var(--text-color-secondary);
    }
    .expansion-instructions {
      font-style: italic;
      color: var(--text-color-secondary);
    }
    .add:not(h1 .add) {
      color: var(--text-color-secondary);
    }
    .evam {
      letter-spacing: 0.02rem;
      /*font-variant-caps: all-small-caps; Doesn't fly with system fonts + diacritics */
      text-transform: uppercase;

      .inline-comment {
        text-transform: initial;
      }
    }
    .verse-line {
      display: block;
      .translation {
        hyphens: none;
        margin-left: 2em;
      }
      .root {
        margin-left: 2em;
      }
    }
    j {
      display: block;
      margin-left: 2em;
    }
    .uddana-intro {
      font-weight: bold;
      color: var(--text-color-secondary);
    }
    .endsection,
    .end,
    .endsubsection {
      font-style: italic;
      text-align: center;
      color: var(--text-color-secondary);
    }
    .endsutta {
      font-weight: bold;
      text-align: center;
      color: var(--text-color-secondary);
    }
    .endbook,
    .endvagga,
    .endkanda {
      text-align: center;
      /*font-variant-caps: all-petite-caps; Doesn't fly with system fonts + diacritics */
      text-transform: capitalize;
      color: var(--text-color-secondary);
    }
    .endbook {
      font-weight: bold;
    }

    /* tables */
    table {
      margin: 2em auto 1em;
      border-collapse: collapse;
    }
    caption {
      font-weight: 600;
      padding: 1em;
    }
    td {
      padding: 0.6667em;
      vertical-align: text-top;
      border-top: 1px solid var(--background-color-secondary);
      border-bottom: 1px solid var(--background-color-secondary);
    }
    td:first-child {
      font-weight: bold;
    }

    /* lists */
    ol,
    ul {
      padding-left: 1em;
    }
    ol ul,
    ul ol,
    ul ul,
    ol ol {
      margin: 0.5em 0 0;
    }
    li {
      padding: 0;
    }
    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 1em;
    }
    dd ol,
    dd ul {
      padding-left: 0;
    }

    /* Udanna */

    .uddana {
      font-weight: 400;
      color: var(--text-color-secondary);
    }

    .uddana-intro {
      font-weight: bold;
      color: var(--text-color-secondary);
    }

    .uddanagatha {
      font-weight: 400;
      font-style: inherit;
      color: var(--text-color-secondary);
    }

    /* Vinaya */
    .kamma {
      font-weight: 600;
    }
    .rule {
      font-weight: 800;
    }
    .subrule {
      font-weight: 600;
    }
    .help-heading,
    .inserted-heading {
      font-style: italic;
    }

    /* For Chinese root texts / Descriptive classes */
    .xu,
    .suttainfo {
      background-color: var(--bg-alt-1);
      padding: 1rem;
      border-radius: var(--rounding);
      margin-bottom: 2rem;
    }
    .suppliedmetre {
      color: var(--text-color-secondary);
    }
    .gap {
      color: var(--text-color-secondary);
    }
    .describe {
      text-decoration: line-through;
      text-decoration-color: var(--text-color-secondary);
    }
    .del {
      text-decoration: line-through;
      text-decoration-color: var(--text-color-secondary);
    }
    .scribe {
      font-style: italic;
    }
    .alt-title {
      display: none;
    }
    .hidden {
      display: none;
    }
    .metre {
      display: none;
    }
    .t-gaiji {
      color: var(--text-color-secondary);
    }
    .rule-number {
      color: var(--text-color-secondary);
    }
    .allowance {
      font-weight: bold;
    }
    .t-note {
      color: var(--text-color-secondary);
    }
    .vagga-number {
      color: var(--text-color-secondary);
    }

    /* From Sutta Central with the non-segment texts. */
    a.ref {
      display: none;
      border: 1px solid var(--bg-alt-2);
      border-radius: var(--rounding);
      padding: 0.2rem;
      text-decoration: none;
      color: var(--fg-alt-4);
      font-size: 0.7rem;
      margin-right: 0.3rem;
      font-weight: initial;

      &:hover {
        background-color: var(--bg-soft);
      }
    }
  }

  /* search results pagination */
  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}

a {
  color: var(--primary-color);

  &:visited {
    color: var(--primary-color-alt);
  }

  &:hover,
  &:active {
    color: var(--background-color);
    background-color: var(--primary-color);
    text-decoration: none;
  }

  &::selection {
    background-color: var(--blue-dim);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements#specifying_a_uniform_font_size_for_h1 */
:where(article h1, section h1, nav h1, aside h1) {
  margin-block: 0.67em;
  font-size: 2em;
}

#views-menu li[role='menuitem']:has(#commenter-inline),
#views-menu li[role='menuitem']:has(#commenter-side) {
  display: none;
}

#listen-menu {
  max-width: 30ch;

  li[role='menuitem'] {
    display: none;
  }
}

.tts-highlight {
  color: var(--tts-highlight-text-color);
  background-color: var(--tts-highlight-background-color);
}

.tts-clickable {
  cursor: pointer;

  &:hover {
    background-color: var(--tts-hover-background-color);
  }
}

.tts-controls {
  display: flex;
  height: 3rem;

  button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &[disabled] {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }
}

form#search-form {
  display: flex;
  border: 1px solid;
  padding: 0.4rem;
  border-radius: var(--rounding);
  border-color: var(--bg-alt-4);

  &:focus-within {
    border-color: inherit;
  }

  input {
    width: 100%;
    border: none;
    background-color: inherit;
    color: inherit;
    font-size: large;

    &:focus {
      outline: none;
    }
  }

  button {
    border: none;
    background: none;
    font-size: inherit;
    cursor: pointer;
  }
}

p#search-count {
  color: var(--text-color-secondary);
}

ul#search-results {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 0;
    }

    h2 {
      word-break: break-word;
      margin-bottom: 0.2rem;
    }

    dl {
      display: flex;
      gap: 0.5rem;
      margin: 0 auto;
      color: var(--text-color-secondary);

      dd {
        margin: 0;
        padding: 0;
        display: inline;

        &:not(dd:last-of-type)::after {
          content: '∙';
          margin-left: 0.5rem;
        }
      }
    }

    mark {
      color: var(--tts-highlight-text-color);
      background-color: var(--tts-highlight-background-color);
    }
  }
}

button#show-more {
  background-color: var(--background-color);
  border-radius: var(--rounding);
  border: 1px solid var(--primary-color);
  padding: 0.2rem 0.6rem;
  color: var(--primary-color);
  font-size: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--background-color);
    background-color: var(--primary-color);
  }
}

input[type='range'],
input[type='checkbox'] {
  accent-color: var(--primary-color);
}
