:root {
  /* Both palettes adapted from: https://github.com/YV31/gruvbox-css */
  --bg-hard: #1d2021;
  --bg: #282828;
  --bg-soft: #32302f;
  --bg-alt-1: #3c3836;
  --bg-alt-2: #504945;
  --bg-alt-3: #665c54;
  --bg-alt-4: #7c6f64;

  --fg: #fbf1c7;
  --fg-alt-1: #ebdbb2;
  --fg-alt-2: #d5c4a1;
  --fg-alt-3: #bdae93;
  --fg-alt-4: #a89984;

  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;
  --brown: #d7995b;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458588;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --gray-dim: #a89984;
  --orange-dim: #d65d0e;
  --brown-dim: #b57642;

  /* Use these: */
  --content-width: 600px;
  --background-color: var(--bg);
  --text-color: var(--fg);
  --primary-color: var(--yellow);
  --primary-color-alt: var(--yellow-dim);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-hard: #f9f5d7;
    --bg: #fbf1c7;
    --bg-soft: #f2e5bc;
    --bg-alt-1: #ebdbb2;
    --bg-alt-2: #d5c4a1;
    --bg-alt-3: #bdae93;
    --bg-alt-4: #a89984;

    --fg: #282828;
    --fg-alt-1: #3c3836;
    --fg-alt-2: #504945;
    --fg-alt-3: #665c54;
    --fg-alt-4: #7c6f64;

    --red: #9d0006;
    --green: #79740e;
    --yellow: #b57614;
    --blue: #076678;
    --purple: #8f3f71;
    --aqua: #427b58;
    --orange: #af3a03;
    --gray: #928374;
    /*--brown: #7c5c40;*/

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458598;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --orange-dim: #d65d0e;
    --gray-dim: #7c6f64;
    /*--brown-dim: #a07448;*/

    /* Use these: */
    --background-color: var(--bg-hard);
    --text-color: var(--fg);
    --primary-color: var(--orange-dim);
    --primary-color-alt: var(--orange);
  }
}

::selection {
  color: var(--background-color);
  background-color: var(--primary-color);
}

body {
  font-family:
    Iowan Old Style,
    Apple Garamond,
    Baskerville,
    Times New Roman,
    Droid Serif,
    Times,
    Source Serif Pro,
    serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 600;
}

header {
  margin: 1rem auto;
  padding: 0 1rem;
  font-weight: 600;
  max-width: var(--content-width);
  width: 100%;
}

main {
  max-width: var(--content-width);
  margin: auto;
  flex: 1;
  padding: 0 1rem;

  ul li {
    list-style-type: upper-roman;

    ul li {
      list-style-type: unset;
    }
  }
}

footer {
  background-color: var(--bg-alt-1);
  font-weight: 600;
  margin-top: 2rem;
  text-align: center;

  ul {
    max-width: var(--content-width);
    margin: 1rem auto;
    list-style: none;
    padding: 0;
  }
}

a {
  color: var(--primary-color);

  &:visited {
    color: var(--primary-color-alt);
  }

  &:hover,
  &:active {
    color: var(--background-color);
    background-color: var(--primary-color);
    text-decoration: none;
  }

  &::selection {
    color: var(--text-color);
    background-color: var(--blue-dim);
  }
}
