:root {
  /* Both palettes adapted from: https://github.com/YV31/gruvbox-css */
  --bg-hard: #1d2021;
  --bg: #282828;
  --bg-soft: #32302f;
  --bg-alt-1: #3c3836;
  --bg-alt-2: #504945;
  --bg-alt-3: #665c54;
  --bg-alt-4: #7c6f64;

  --fg: #fbf1c7;
  --fg-alt-1: #ebdbb2;
  --fg-alt-2: #d5c4a1;
  --fg-alt-3: #bdae93;
  --fg-alt-4: #a89984;

  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;
  --brown: #d7995b;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458588;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --gray-dim: #a89984;
  --orange-dim: #d65d0e;
  --brown-dim: #b57642;

  /* Use these: */
  --content-width: 600px;
  --rounding: 0.2rem;

  --background-color: var(--bg);
  --background-color-secondary: var(--bg-soft);
  --text-color: var(--fg-alt-2);
  --text-color-secondary: var(--fg-alt-4);
  --headings-color: var(--fg);
  --primary-color: var(--yellow);
  --primary-color-alt: var(--yellow-dim);
  --shadow-color: var(--bg-hard);

  --sans-serif-font:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica,
    arial, sans-serif;
  --serif-font:
    Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif,
    Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-hard: #f9f5d7;
    --bg: #fbf1c7;
    --bg-soft: #f2e5bc;
    --bg-alt-1: #ebdbb2;
    --bg-alt-2: #d5c4a1;
    --bg-alt-3: #bdae93;
    --bg-alt-4: #a89984;

    --fg: #282828;
    --fg-alt-1: #3c3836;
    --fg-alt-2: #504945;
    --fg-alt-3: #665c54;
    --fg-alt-4: #7c6f64;

    --red: #9d0006;
    --green: #79740e;
    --yellow: #b57614;
    --blue: #076678;
    --purple: #8f3f71;
    --aqua: #427b58;
    --orange: #af3a03;
    --gray: #928374;
    --brown: #7c5c40;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458598;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --orange-dim: #d65d0e;
    --gray-dim: #7c6f64;
    --brown-dim: #a07448;

    /* Use these: */
    --background-color: var(--bg-hard);
    --background-color-secondary: var(--bg-soft);
    --text-color: var(--fg-alt-2);
    --text-color-secondary: var(--fg-alt-4);
    --headings-color: var(--fg);
    --primary-color: var(--orange-dim);
    --primary-color-alt: var(--orange);
    --shadow-color: var(--gray-dim);
  }
}

::selection {
  color: var(--background-color);
  background-color: var(--primary-color);
}

body {
  font-family: var(--serif-font);
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.5;

  input,
  textarea,
  select,
  button {
    font-family: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--headings-color);
  }
  h1 {
    text-wrap: balance;
  }
  h6 {
    font-style: italic;
  }

  & > header {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: var(--content-width);
    width: calc(100% - 2rem);

    > nav {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
          display: flex;
          word-break: keep-all;
          text-wrap: nowrap;
          white-space: nowrap;

          &:first-of-type a {
            text-decoration: none;
          }

          &::after {
            content: '/';
            margin-left: 0.5rem;
            color: var(--gray);
          }

          &:last-child::after {
            content: '';
          }
        }
      }
    }
  }

  > nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    gap: 1rem;
    margin: 2rem 1rem;
    width: calc(100vw - 2rem);
    max-width: calc(var(--content-width) * 1.2);

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-start;
      overflow-wrap: anywhere;

      &:nth-of-type(2) {
        align-items: flex-end;
        text-align: right;
      }

      span {
        font-variant-caps: petite-caps;
      }
    }
  }

  &:has(aside #commenter:checked) article .segment button[popovertarget] {
    display: initial;
  }

  &:has(aside #segmenter:checked)
  article
  .segment:not(header .segment)
  .reference
  > a,
  /* This one below is for legacy texts. */
  &:has(aside #segmenter:checked) main article a.ref {
    display: initial;
  }

  &:has(aside #rooter:checked) article .segment {
    display: grid;
    margin-bottom: 0.3rem;

    .translation {
      grid-column: 1;
    }

    .root {
      grid-column: 1;
      display: initial;
    }
  }
}

[popover] {
  color: var(--text-color);
  border: none;
  box-shadow: 0 0.3rem 1rem var(--shadow-color);
  border-radius: var(--rounding);
  padding: 1rem;
  background-color: var(--bg-alt-1);
  max-width: calc(min(320px, 100vw) - 2rem);
  max-height: 60vh;
  overflow-y: scroll;

  dl dt {
    color: var(--text-color-secondary);
  }

  .texts-list > details > summary {
    &:hover,
    &:active {
      background-color: var(--bg-alt-2);
    }
  }
}

[popover]#info,
[popover]#parallels {
  max-width: calc(min(60ch, 100vw) - 2rem);
  width: 100%;
}

aside {
  display: flex;
  justify-content: end;

  &:has(#positioner:checked) {
    position: sticky;
    top: 0.5rem;
  }

  fieldset {
    width: fit-content;
    padding: 0;
    border: none;
    margin: 0;
    background-color: var(--bg-alt-1);
    border-top-left-radius: var(--rounding);
    border-bottom-left-radius: var(--rounding);

    button {
      height: 100%;
      padding: 0 0.5rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      background-color: inherit;
      color: var(--fg-alt-3);

      &:focus,
      &:hover {
        background-color: var(--primary-color);
        color: var(--background-color);
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      display: flex;
    }

    li {
      display: block;
      position: relative;
      color: var(--fg-alt-3);
      border-top-left-radius: var(--rounding);
      border-bottom-left-radius: var(--rounding);

      &:first-of-type > button {
        border-top-left-radius: var(--rounding);
        border-bottom-left-radius: var(--rounding);
      }
    }

    ul li ul {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      width: max-content;
      background-color: var(--bg-alt-2);
      color: var(--text-color);
      padding-right: 0.3rem;
      border-radius: var(--rounding);
      border-top-right-radius: unset;

      li {
        width: 100%;
        display: flex;
        align-items: center;
        padding-right: 0.3rem;

        &:hover,
        &:focus-within {
          background: var(--bg-soft);
          border-radius: unset;

          &:first-of-type {
            border-top-left-radius: var(--rounding);
          }
          &:last-of-type {
            border-bottom-left-radius: var(--rounding);
            border-bottom-right-radius: var(--rounding);
          }
        }

        label {
          width: 100%;
          padding: 0 0.3rem;
        }

        input {
          margin: 0;
        }

        label,
        input {
          cursor: pointer;
        }
      }
    }

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
      display: block;
    }
  }
}

main {
  margin: auto;
  flex: 1;
  padding: 0 1rem;
  max-width: var(--content-width);
  width: calc(100% - 2rem);

  ul {
    padding-left: 0.75rem;

    li {
      list-style-type: upper-roman;
      margin: 0.3rem;

      ul li {
        list-style-type: disc;
      }
    }
  }

  hgroup:has(p) {
    h1,
    h2,
    h3 {
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
      color: var(--text-color-secondary);
    }
  }

  details.patimokkha-details {
    margin-top: 1rem;

    > summary {
      cursor: pointer;
      padding: 0.5rem 0.15rem 0.5rem 0.5rem;
      border-radius: var(--rounding);
      margin-left: -0.5rem;
      background-color: var(--background-color-secondary);

      &:hover,
      &:active {
        background-color: var(--bg-alt-1);
      }
    }
  }

  .texts-list {
    details {
      summary {
        cursor: pointer;
        padding: 0.5rem 0.15rem 0.5rem 0.5rem;
        border-radius: var(--rounding);
        margin-left: -0.5rem;

        &:hover,
        &:active {
          background-color: var(--bg-alt-1);
        }
      }

      ul {
        padding-left: 0.75rem;
        margin: 0;

        li {
          list-style-type: none;

          ul {
            padding-left: 2rem;

            li {
              list-style-type: lower-roman;
            }
          }
        }
      }

      .parallel-list-item-full {
        list-style-type: '⇆  ';
      }
      .parallel-list-item-mention {
        list-style-type: '〞';
      }
    }
  }

  hr {
    width: 30%;
    border-radius: var(--rounding);
  }

  section,
  article {
    button[popovertarget] {
      display: none;
      user-select: none;
      cursor: help;
      background: none;
      border: none;
      color: var(--primary-color);
      padding: 0;
      margin: 0 0.1rem 0 0;
      vertical-align: text-top;

      &:focus {
        background-color: var(--primary-color);
        color: var(--background-color);
      }
    }

    ul li {
      list-style-type: initial;
    }

    dl {
      dt {
        color: var(--text-color-secondary);
      }

      dd {
        margin-bottom: 0.5rem;
      }
    }

    .segment {
      .root {
        display: none;
        color: var(--fg-alt-4);
      }

      .reference {
        a {
          display: none;
          border: 1px solid var(--bg-alt-2);
          border-radius: var(--rounding);
          padding: 0.2rem;
          text-decoration: none;
          color: var(--fg-alt-4);
          font-size: 70%;

          &:hover {
            background-color: var(--bg-soft);
          }
        }
      }
    }

    /* These named classes all come through from Sutta Central.
       See: https://github.com/suttacentral/suttacentral/blob/d583b3364e9d94177343ad96cbab036f07bbba2d/client/elements/styles/sc-typography-common-styles.js#L647
    */
    header {
      text-align: center;
      margin-bottom: 4rem;

      li {
        list-style-type: none;
        letter-spacing: 0.02rem;
        font-variant-caps: all-small-caps;
        text-wrap: balance;
      }

      h1 {
        font-variant-caps: small-caps;
      }

      .sutta-title {
        word-break: break-word;
        text-wrap: balance;
      }

      .subheading {
        font-style: italic;
      }
    }
    .namo {
      font-style: italic;
      text-align: center;
    }
    .roman-numerals {
      text-decoration: underline overline;
      text-transform: uppercase;
      text-decoration-thickness: 0.05em;
      text-underline-offset: 0.2em;
    }
    .speaker {
      font-style: italic;
      display: block;
      text-indent: 3em;
    }
    .pe {
      font-style: italic;
      color: var(--text-color-secondary);
    }
    .expansion-instructions {
      font-style: italic;
      color: var(--text-color-secondary);
    }
    .add {
      color: var(--text-color-secondary);
    }
    .evam {
      letter-spacing: 0.02rem;
      font-variant-caps: all-small-caps;
    }
    .verse-line {
      display: block;
    }
    .uddana-intro {
      font-weight: bold;
      color: var(--text-color-secondary);
    }
    .endsection,
    .end,
    .endsubsection {
      font-style: italic;
      text-align: center;
      color: var(--text-color-secondary);
    }
    .endsutta {
      font-weight: bold;
      text-align: center;
      color: var(--text-color-secondary);
    }
    .endbook,
    .endvagga,
    .endkagga {
      text-align: center;
      font-variant-caps: all-small-caps;
      color: var(--text-color-secondary);
    }

    /* Udanna */

    .uddana {
      font-weight: 400;
      color: var(--text-color-secondary);
    }

    .uddana-intro {
      font-weight: bold;
      color: var(--text-color-secondary);
    }

    .uddanagatha {
      font-weight: 400;
      font-style: inherit;
      color: var(--text-color-secondary);
    }

    /* Vinaya */
    .kamma {
      font-weight: 600;
    }
    .rule {
      font-weight: 800;
    }
    .subrule {
      font-weight: 600;
    }
    .help-heading,
    .inserted-heading {
      font-style: italic;
    }

    /* For Chinese root texts / Descriptive classes */
    .xu,
    .suttainfo {
      background-color: var(--bg-alt-1);
      padding: 1rem;
      border-radius: var(--rounding);
      margin-bottom: 2rem;
    }
    .suppliedmetre {
      color: var(--text-color-secondary);
    }
    .gap {
      color: var(--text-color-secondary);
    }
    .describe {
      text-decoration: line-through;
      text-decoration-color: var(--text-color-secondary);
    }
    .del {
      text-decoration: line-through;
      text-decoration-color: var(--text-color-secondary);
    }
    .scribe {
      font-style: italic;
    }
    .alt-title {
      display: none;
    }
    .hidden {
      display: none;
    }
    .metre {
      display: none;
    }
    .t-gaiji {
      color: var(--text-color-secondary);
    }
    .rule-number {
      color: var(--text-color-secondary);
    }
    .allowance {
      font-weight: bold;
    }
    .t-note {
      color: var(--text-color-secondary);
    }
    .vagga-number {
      color: var(--text-color-secondary);
    }

    /* From Sutta Central with the non-segment texts. */
    a.ref {
      display: none;
      border: 1px solid var(--bg-alt-2);
      border-radius: var(--rounding);
      padding: 0.2rem;
      text-decoration: none;
      color: var(--fg-alt-4);
      font-size: 70%;
      margin-right: 0.3rem;

      &:hover {
        background-color: var(--bg-soft);
      }
    }
  }
}

footer {
  background-color: var(--bg-alt-1);
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;

  ul {
    max-width: var(--content-width);
    margin: 1rem auto;
    list-style: none;
    padding: 0;
  }

  p:first-of-type {
    color: var(--headings-color);
  }
  p:last-of-type {
    color: var(--text-color-secondary);
  }
}

a {
  color: var(--primary-color);

  &:visited {
    color: var(--primary-color-alt);
  }

  &:hover,
  &:active {
    color: var(--background-color);
    background-color: var(--primary-color);
    text-decoration: none;
  }

  &::selection {
    color: var(--text-color);
    background-color: var(--blue-dim);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
